
#author {
  color: #369;
  font-weight: bold;
  width: 200px;
  padding-right: 10px;
}

#op {
  color: white;
  background-color: blue;
  padding: 2px;
  border-radius: 3px;
}

.votes {
  color: #888;
}

p, li {
    word-break: normal !important;
    white-space: normal !important;
}

.idv-comment {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #e4e4e4;
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;
}

.comment-text > ul {
  list-style-type: disc;
}

.comment-text > p {
  font-size: 20px !important;
  font-family: Arial,sans-serif !important;
}

.comment-text > .md {
  font-size: 1.4em !important;
}

.comment-text > ul > li{
  display: list-item !important;
  margin-left: 20px !important;
}

.comment-text > ol > li{
  display: list-item !important;
  list-style-type: decimal !important;
  margin-left: 20px !important;
}

.child-comment {
  background-color: rgb(247,247,248);
}

#loader {
  width: 10px;
  height: 10px;
  padding-left: 5px;
}
#pop-up {
  display: inline;
  min-height: 20px;
  min-width: 20px;
  z-index: 99999999 !important;
  border-radius: 5px;
  padding-right: 10px;
  overflow: auto;
}

.exit-button {
  position: fixed;
  padding-left: 2px !important;
}

.minus {
  width: 15px;
  height: 15px;
  margin-right: 4px;
}

#rcc-settings-container {
  position: absolute;
  top: 2px;
  right: 10px;
}

#rcc-settings-img {
  position: absolute;
  right: 0px;
  width: 20px;
  height: 20px;
}

#rcc-radio-container {

  background-color: #e4e4e4;
  border-radius: 5px;
}

#rcc-settings-form {
  display: block !important;
  margin-left: 5px;
}

#rcc-settings-title{
  text-align: center;
}

#error {
  height: 50px;
  width: 70px;
}

.close-button{
  min-height: 18px;
  min-width: 18px;
  background-color: #DDDDDD !important;
  font-size: 12px !important;
  color: black !important;
  z-index: 2 !important;
  border: 1px solid black;
  border-radius: 2px;
  margin-left: 4px;
}

.ui-resizable-helper {
 border: 2px solid black; 
  z-index: 999999999 !important;
}

#pop-up .ui-resizable-w {
    width: 10px !important;
}

#rcc-update {
  border: 2px solid black;
  background-color: rgb(247,247,248);
  z-index: 4 !important;
  position:absolute; !important;
  padding: 5px;
}

/*ul#rcc-update-list{
  display: list-item !important;
}
*/

